{% extends "landing.html" %}
{% block title %}BottomLine{% endblock %}
{% block content %}
<h2>Account Signup</h2>
<h4>{{ method }}</h4>
<div>
<p>
Sign up for a new vehicle shopper account. Looking to sign up as a new car dealer?
    Please use our <a href="/accounts/dealer_signup"> dealer signup page instead.</a>
</p>
</div>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <p>
        <button type="submit" name="button_element" value="Button Element">
    Create Account!
        </button>
    </p>
</form>
{% endblock %}
