{% extends "landing.html" %}
{% block title %}BottomLine{% endblock %}
{% block content %}
<h2>Profile</h2>
<div>
<p>
Username: {{ request.user.username }} <br>
Name: {{ request.user.first_name }} {{ request.user.last_name}}<br>
Date Joined: {{ request.user.date_joined }} <br>
Email: {{ request.user.email }}<br>
Last Login: {{ request.user.last_login }}<br>
{%  if user.profile.account_type == 1 %}
Account Type: Car Shopper<br>
{% else %}
Account Type: Car Dealer<br>
{% endif %}
</p>
</div>
{% endblock %}
